@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

/*
  테트리스 css
*/

body {
  background: #cfd8dc;
  font-family: 'Hanna', sans-serif;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 30%;
  min-width: 350px;
  height: 90%;
  min-height: 600px;
  padding: 10px 10px;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;

  background-color: white;

  user-select: none;
}

#game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid rgba(0, 0, 0, 0.19);
  background: rgb(255, 255, 250);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}

/* 다음 블록 설정 */

#next-block-container {
  position: absolute;
  top: 10%;
  left: 80%;
  width: 10%;
  height: 140px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  background-color: white;
}

#next-block-container > div {
  text-align: center;
  font-size: 1.2rem;
  margin: 5px 0;
}
#next-block-container table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#next-block-container td {
  border: none;
}

.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.navy {
  background-color: navy;
}
.violet {
  background-color: violet;
}
