@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

body {
  background: #cfd8dc;
  font-family: 'Hanna', sans-serif;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 30%;
  user-select: none;
  font-size: 1.5rem;
  font-weight: 400;
}

#container.waiting {
  background: yellow;
}
#container.ready {
  background: green;
}
#container.now {
  background: red;
}
