@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

body {
  background: #cfd8dc;
  font-family: 'Hanna', sans-serif;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50%;
  min-width: 300px;
  height: 70%;
  min-height: 400px;
  padding: 10px 10px;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;

  background-color: azure;

  user-select: none;
}

#setting {
  width: 100%;
  /* text-align: center;/ */
}

select {
  width: 100px; /* 원하는 너비설정 */
  height: 30px;
  padding: 0.5em 0.5em; /* 여백으로 높이 설정 */
  font-family: inherit; /* 폰트 상속 */
  background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg)
    no-repeat 95% 50%; /* 네이티브 화살표 대체 */
  border: 1px solid #999;
  border-radius: 0px; /* iOS 둥근모서리 제거 */
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

button {
  all: unset;
  height: 30px;
  padding: 0 10px;
  background-color: salmon;
  color: white;
  cursor: pointer;
  transition: all ease-in 0.2s;
  float: right;
}

button:hover {
  background-color: tomato;
}

#game {
  margin-top: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 80%;
  background-color: white;
  border: 1px solid black;
}

table {
  /* 테이블 셀의 간격을 없앤다. */
  border-collapse: collapse;
  width: 80%;
  height: 80%;
}

td {
  border: 1px solid #bbb;
  background: rgb(156, 149, 149);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}

td.opened {
  background: white;
}

#result {
  margin-top: 10px;
  padding-left: 5px;
}

.hidden {
  display: none;
}

.red {
  background-color: red;
}

thead tr td {
  border: none;
  background-color: white;
}
